.about {


  .image-list {
    display: flex;
    flex-wrap: wrap;

    div {
      flex-basis: 31.333333%;
      padding:1px;

      p {
        padding: 10px;
        text-align: center;
      }
    }

    img {
      width: 100%;
    }

  }

}
