
.home {
  text-align: center;
  background-color: #3ebab0;

  h1, h2 {
    padding-top: 30px;
    font-size: 30px;
  }
  .large{
    font-size: 50px;
  }
  img {
    padding-top: 50px;
    padding-bottom: 100px;
    height:500px;
    animation:spin .9s linear infinite;
  }
}
