

.layout {

  nav {
    background-color: $main-color;
    padding: 20px;
  }

  a {
    color: #fff;
    padding: 10px;
  }

  .main-header {
    font-family: Helvetica, sans-serif;
    text-align: center;
  }

}
