/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.sub-header {
  font-family: 'Baloo Tammudu', cursive;
  padding: 10px; }
  .sub-header h2 {
    font-size: 2em; }
  .sub-header h3 {
    font-size: 1.2em; }

.layout {
  font-family: 'Baloo Tammudu', cursive; }
  .layout nav {
    background-color: #c86b98;
    padding: 20px 20px;
    font-size: 40px; }
  .layout a {
    color: #fff;
    padding: 10px; }
  .layout .selected {
    color: #3ebab0; }
  .layout .main-header {
    text-align: center; }

.home {
  text-align: center;
  background-color: #3ebab0; }
  .home h1, .home h2 {
    padding-top: 30px;
    font-size: 30px; }
  .home .large {
    font-size: 50px; }
  .home img {
    padding-top: 50px;
    padding-bottom: 100px;
    height: 500px;
    animation: spin .9s linear infinite; }

.about {
  background-color: #7dc9ab; }
  .about .sub-header {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center; }
    .about .sub-header h1 {
      font-size: 50px; }
    .about .sub-header .oneHundred {
      color: white; }
  .about .image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .about .image-list div {
      flex-basis: 30.333333%;
      padding: 2px; }
    .about .image-list img {
      width: 100%; }

.social {
  background-color: #fe9c7f; }
  .social h1, .social h2, .social div {
    text-align: center; }
  .social .sub-header {
    padding-top: 30px;
    padding-bottom: 30px; }
  .social h1 {
    color: white;
    font-size: 40px; }
  .social img {
    padding: 20px;
    width: 15%;
    animation: spin 4s linear infinite; }
  .social .words {
    padding: 10px;
    color: white;
    font-size: 20px; }
  .social .warning {
    color: red; }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.find {
  background-color: #3ebab0; }
  .find h2 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
    padding-top: 30px; }
  .find p {
    text-align: center;
    font-size: 20px; }
  .find .contact-area {
    display: flex;
    padding-bottom: 100px; }
  .find .map, .find .contact-me {
    flex-basis: 50%; }
  .find .contact-me {
    font-size: 20px; }
    .find .contact-me h1 {
      font-size: 30px;
      padding: 5px;
      padding-top: 20px;
      color: white; }
    .find .contact-me .contact .skillz {
      padding: 5px; }
  .find iframe {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%; }
